@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&family=Qwitcher+Grypen:wght@700&display=swap');
.StoresNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    color: white;
    background-color: #78C1F3;
    padding: 10px 30px;
}
.StoresNavBar a{
    text-decoration: none;
    color: white;
}
.StoresNavBar a .logo{
    font-size: 2.5rem;
    font-family: 'Qwitcher Grypen', cursive;
}
.StoresNavBar input{
    padding: 7px 20px;
    width: 40%;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
}
.StoresNavBar .cart-shopping{
    font-size: 1.6rem;
    position: relative;
}
.StoresNavBar .cart-shopping .selectedProductsNumber{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    top: -8px;
    right: -8px;
}
@media screen and (max-width: 600px) {
    .StoresNavBar {
        padding: 10px 20px;
    }
    .StoresNavBar input{
        padding: 7px 20px;
        width: 50%;
        font-size: 0.8rem;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}