.g-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-top: 10px;
}
.g-container .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
}
.g-container .container img{
    width: 200px;
    height: 200px;
}
.g-container .container h3{
    text-transform: capitalize;
    color: #78C1F3;
    margin-top: 20px;
}